@page
@model Projet_AdoNet.Pages.Statuts.DetailsModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Details du Statut";
}

@*Test de redirection*@
@if (HttpContext.Session.GetString("login") == null)
{
    <script src="~/js/Redirect.js"></script>
}


<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatutProjet.Libelle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatutProjet.Libelle)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StatutProjet.Id">Modifier</a> |
    <a asp-page="./Index">Revenir à la liste</a>
</div>
