@page
@model IndexModel
@{
    ViewData["Title"] = "Bienvenue dans l'application Madera";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<br />
<br />

<div class="row">
    <div class="col-4">
        <h4>A propos :</h4><br />
        <p>Cette application est destinée au manager afin de suivre les activités des commerciaux mais aussi l'évolution des projets.</p>
        <br />
        <h4>Authentification :</h4><br />
        <p>
            Pour toutes actions et opérations, une authentification est réquise. Veuillez remplir les informations suivantes :
        </p>

        <div class="card bg-light mb-3" style="max-width: 45rem;">
            <div class="text-center">
                <div class="card-header" style="color:lightcoral">@Model.Msg</div>
            </div>

            <div class="card-body">
                @*début du form*@
                <form method="post" asp-page="Index">
                    <div class="form-group">
                        <label for="login" style="color:royalblue; font-size:20px;">Identifiant :</label>
                        <input type="text" asp-for="@Model.manager.Login" class="form-control" id="login" placeholder="Entrer votre identifiant">
                        <small id="emailHelp" class="form-text text-muted">exemple : "mabertra" pour Bertrand Mattou</small>
                    </div>
                    <div class="form-group">
                        <label for="motDepasse" style="color:royalblue; font-size:20px;">Mot de passe :</label>
                        <input type="password" asp-for="@Model.manager.Password" class="form-control" id="motDepasse" placeholder="Mot de passe">
                    </div>

                    <button type="submit" class="btn btn-light" style="color:blueviolet;border-color:blueviolet;">S'authentifier</button>
                </form>
                @*fin du form*@
            </div>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-5">
        @*description*@
        <h4>Actions brèves sur les diagrammes :</h4><br />
        <p>Ce diagramme représente le nombre des projets par commerciaux. Survoler une partie du digramme pour voir la somme/Commercial et/ou cliquer sur la couleur devant les labels pour cacher ou afficher la somme des projet d'un commercial.</p>
        @*canvas1*@
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
</div>

<br /><hr />

<div class="row">
    <div class="col-6">
        <h4>Une représentation visuelle simplifiée :</h4><br />
        <p>Plusieurs diagrammes sont réalisables, mais nous avons choisi pour vous les plus simple pour que la représentation visuelle soit compréhensible et efficace.</p>
        @*canvas2*@
        <canvas id="myChart1" width="250" height="200"></canvas>
    </div>
    <div class="col-5">

    </div>
</div>

<script src="~/js/Chart.bundle.min.js"></script>
<script src="~/js/IndexAccueil.js"></script>
