@page
@model IndexModel
@{
    ViewData["Title"] = "Suivis d'activité des commerciaux";
}

<br />
<!--
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />



<div class="row">
    <div class="col-sm">
        <table class="table table-striped table caption-top">
            <caption>Ci-dessus la liste des commerciaux</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>bon</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
</div>

<script src="~/js/Chart.bundle.min.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
    -->

<form  method="post" asp-page="Index">
    <div class="form-group">
        <label for="exampleInputEmail1">Identifiant</label>
        <input type="text"  asp-for="@Model.manager.Login" class="form-control" id="exampleInputEmail1" placeholder="Entrer votre identifiant">
        <small id="emailHelp" class="form-text text-muted">exemple : "mabertra" pour Bertrand Mattou</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password"  asp-for="@Model.manager.Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">S'authentifier</button>
</form>
