@page
@model Projet_AdoNet.Pages.Projets.CreateModel

@{
    ViewData["Title"] = "Création d'un Projet";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Projet.Nom" class="control-label"></label>
                <input asp-for="Projet.Nom" class="form-control" />
                <span asp-validation-for="Projet.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.DateCreation" class="control-label"></label>
                <input asp-for="Projet.DateCreation" class="form-control" />
                <span asp-validation-for="Projet.DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.DateFinalisation" class="control-label"></label>
                <input asp-for="Projet.DateFinalisation" class="form-control" />
                <span asp-validation-for="Projet.DateFinalisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.Ville" class="control-label"></label>
                <input asp-for="Projet.Ville" class="form-control" />
                <span asp-validation-for="Projet.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.IdStatut" class="control-label"></label>
                <input asp-for="Projet.IdStatut" class="form-control" />
                <span asp-validation-for="Projet.IdStatut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.IdCommercial" class="control-label"></label>
                <input asp-for="Projet.IdCommercial" class="form-control" />
                <span asp-validation-for="Projet.IdCommercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.IdClient" class="control-label"></label>
                <input asp-for="Projet.IdClient" class="form-control" />
                <span asp-validation-for="Projet.IdClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Revenir à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
