@page
@model Projet_AdoNet.Pages.Projets.CreateModel

@{
    ViewData["Title"] = "Créer un projet";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Projet.nomProjet" class="control-label"></label>
                <input asp-for="Projet.nomProjet" class="form-control" />
                <span asp-validation-for="Projet.nomProjet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.dateCreation" class="control-label"></label>
                <input asp-for="Projet.dateCreation" class="form-control" />
                <span asp-validation-for="Projet.dateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.dateFinalisation" class="control-label"></label>
                <input asp-for="Projet.dateFinalisation" class="form-control" />
                <span asp-validation-for="Projet.dateFinalisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.villeProjet" class="control-label"></label>
                <input asp-for="Projet.villeProjet" class="form-control" />
                <span asp-validation-for="Projet.villeProjet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.idStatutProjet" class="control-label"></label>
                <input asp-for="Projet.idStatutProjet" class="form-control" />
                <span asp-validation-for="Projet.idStatutProjet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.idCommercial" class="control-label"></label>
                <input asp-for="Projet.idCommercial" class="form-control" />
                <span asp-validation-for="Projet.idCommercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projet.idClient" class="control-label"></label>
                <input asp-for="Projet.idClient" class="form-control" />
                <span asp-validation-for="Projet.idClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Revenir à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
