@page
@model Projet_AdoNet.Pages.Operations.ComparaisonCommerciauxModel
@{
    ViewData["Title"] = "Résultat de la comparaison";
}


<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />